<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>County Inventory 2015 Workflow</Name><AddInID>{409d6bba-c354-4580-a1f8-faac26316418}</AddInID><Description>County Inventory 2015 Workflow Processing</Description><Version>0.1</Version><Image /><Author>Michael Mills</Author><Company>Michael Baker International</Company><Date>02/25/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="CountyInventory2015_addin.py" namespace="CountyInventory2015_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Survey Identifier" category="County Inventory 2015 Workflow" class="cls_cbSurveyIdentifier" id="CountyInventory2015_addin.cbSurveyIdentifier" itemSizeString="WWWWWW" message="Select A Survey" rows="4" sizeString="WWWWWW" tip="Select A Survey"><Help heading="" /></ComboBox>
        <Button caption="Load Survey Image Locations" category="County Inventory 2015 Workflow" class="cls_btnLoadSurvey" id="CountyInventory2015_addin.btnLoadSurvey" image="" message="" tip="Load all images locations associated with the selected survey."><Help heading="" /></Button>
        <Button caption="Select Image Locations" category="County Inventory 2015 Workflow" class="cls_btnImageLocationSelectionActivate" id="CountyInventory2015_addin.btnImageLocationSelectionActivate" image="" message="" tip="Select image locations that are outside of the route extent."><Help heading="" /></Button>
        <Button caption="Mark Image Locations as Do Not Transfer" category="County Inventory 2015 Workflow" class="cls_btnMarkImageLocationsAsDoNotTransfer" id="CountyInventory2015_addin.btnMarkImageLocationsAsDoNotTransfer" image="" message="Mark Image Locations as do not transfer." tip="Mark Image Locations as do not transfer."><Help heading="" /></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="County Inventory 2015 Workflow" class="ExtensionClass6" description="" id="CountyInventory2015_addin.extension7" name="New Extension" productName="New Extension" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="County Inventory 2015" category="County Inventory 2015 Workflow" id="CountyInventory2015_addin.toolbar" showInitially="true"><Items><ComboBox refID="CountyInventory2015_addin.cbSurveyIdentifier" /><Button refID="CountyInventory2015_addin.btnLoadSurvey" /><Button refID="CountyInventory2015_addin.btnImageLocationSelectionActivate" /><Button refID="CountyInventory2015_addin.btnMarkImageLocationsAsDoNotTransfer" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>